* {
  padding: 0%;
  margin: 0%;
  background-color: rgb(245, 249, 248);
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  justify-content: center;
  align-content: space-between;
  height: 100vh;
}
form {
  margin-bottom: 10%;
}
.container form input {
  margin: 2%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}
.container form input:hover {
  border-color: blue;
}
.container form input:focus {
  outline: none;
}
.btn input {
  cursor: pointer;
}

.newData {
  padding: 0%;
  width: 450px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4%;
}
.inside_newData {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.name {
  border: 0.1px solid black;
  padding: 2%;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  width: 150px;
  margin-left: -2rem;
}
.name1 {
  border: 0.1px solid black;
  padding: 2%;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  width: 150px;
}
.newData button {
  padding: 2%;
  border-radius: 5px;
  border: none;
}

.btn {
  display: flex;
  justify-content: center;
}

.inside_newData button {
  background-color: rgb(110, 226, 239);
  font-weight: bold;
  cursor: pointer;
}
.inside_newData button:hover {
  background-color: rgb(44, 186, 113);
}
